### IntelliJ ###
*.iml
*.ipr
*.iws

### Hidden Files ###
.*

### Package Files ###
*.jar
*.war
*.ear

### Maven ###
target/

### Gradle ###
build/

### Custom ###
server/

### Not the Gitignore ###
!.gitignore
